.wordle-word {
    display: flex
}

.wordle-word-row {
    display: flex
}

.wordle-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}