#root {
  display: flex;
  justify-content: center;
}

a:link {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

a:visited {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.87);
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.btn {
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  background-color: #242424;
  transition: 0.3s;
  margin: 5px;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
}
